@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: rgb(112, 112, 112);

}

h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 30px;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.575);
}

menu{
    display: block;
}


menu > ul{
    list-style-type: none;
}

menu > ul > li > a{
    display: block;
    padding: 10px;
    background-color: rgb(77, 77, 77);
    color: white;
    text-decoration: none;
    text-align: center;
    border: 2px solid rgba(128, 128, 128, 0.671);
    border-radius: 5px;
}

menu a:hover{
    background-color: rgba(151, 151, 151, 0.616)
}

body{
    background-color: lightgray;
}

main{
    width: 90vw;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
}

main p {
    text-align:  justify;
    margin-top: 20px;
    margin-bottom: 10px;
    text-indent: 20px;
    padding: 10px;
}

footer{
    background-color: black;
}

footer p{
    color: white;
    text-align: center;
    padding: 1px;
    margin-top: 10px;
}