@charset "UTF-8";

/* Configurações Gerais */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: contain;
}

h1{
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 3px black;
}